{% extends 'simple_create_form.html' %}
{% load static %}

{% block extra_buttons %}
    <link rel="stylesheet" href="{% static 'css/custom_users/register.css' %}">

    <div id="key_info" class="key_info shadow_border">
        <p>Якщо ви не знаєте правил генерування ключів, можете скористатися кнопкою нижче, вам відразу надасться 2 ключі, які ви зможете використовувати в системі, ключі будуть згенеровані випадково</p>
        <div class="key_generate blue_button shadow_border">Згенерувати ключі 🔑</div>
        <div class="keys">
            <p class="help">(Клацніть на ключ, щоб скопіювати)</p>
            <div class="public_key___info shadow_border">
                <p class="public_key___suggestion">
                    Цей ключ необхідно зберегти, тому що по ньому проходитиме авторизація
                </p>
                <div class="public_key shadow_border">{{ public_key }}</div>
            </div>
            <div class="private_key shadow_border">{{ private_key }}</div>
            <div class="keys___paste_keys blue_button shadow_border">
                Копіювати ключі у поля введення 📝,<br>а публічний ключ скопіювати в буфер обміну ⌨️
            </div>
        </div>
    </div>

    <div class="keys_popup shadow_border">
        <span class="close"></span>
        <p class="keys_popup___text">
            Ключ успішно скопійовано! ☺️
        </p>
    </div>

    <script src="{% static 'js/custom_users/register.js' %}"></script>
{% endblock %}