.header {
    display: flex;
    justify-content: flex-end;
    background-color: #191E3A;
    min-height: 50px;
    width: 100%;
    color: #e0e6ed;
    align-items: center;
}

.logout_icon {
    width: 25px;
    height: 25px;
}


.right_menu {
    display: flex;
    align-items: center;
}

.logout_url {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #FAFAFA;
    padding: 5px 10px !important;
    margin-right: 10px;
}